:root {
    font-family: Roboto;
}
mdui-text-field {
    margin-top: 0.3rem;
    margin-bottom: 0.4rem;
}
.buttons_row {
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    width: 100%;
    text-align: center;
}
mdui-button {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
h1 {
    margin: 1rem;
}
